<section class="form-parent-container">
  <article class="form-container">
    <div class="intro">
      <h1>Login Up</h1>
      <p>Not have an account? <a href="/signup">Sign Up</a></p>
    </div>
    <%= render "form"%>
  </article>
</section>
