<h1>All Articles</h1>
<% if @articles.empty? %>
  <p>There are no articles yet. Create one!</p>
<% end %>

<%= render "article" %>

<div class="mt-4">
  <%= link_to 'Create a new Article', new_article_path, class: "btn btn-primary" %>
</div>
