<h1>All Articles</h1>
<%= render "article", obj:@articles %>
<div class="flickr_pagination mt-4">
  <%= will_paginate @articles, :container => false %>
</div>
<div class="mt-4">
  <%= link_to 'Create a new Article', (logged_in? ? new_article_path : login_path), class: "btn btn-primary" %>
</div>
