<section class="form-parent-container">
  <article class="form-container">
    <div class="intro">
      <h1>Edit your profile information</h1>
    </div>
    <%= render "form"%>
  </article>
</section>
