<%# Sign Up Form %>
    <section class="form-parent-container">
      <article class="form-container">
        <div class="intro">
            <h1>Sign Up</h1>
            <p>Already have an account? <a href="/login">Log In</a></p>
        </div>

        <%= render "form"%>
      </article>
    </section>
