<section class="form-parent-container">
  <article class="form-container">
    <div class="intro">
      <h1>Edit Category</h1>
      <p class="sub-title">Edit a category to organize your posts</p>
    </div>
    <%= render "form"%>
  </article>
</section>
