<%# Sign Up Form %>
<section class="form-parent-container">
  <article class="form-container">
    <div class="intro">
        <h1 class="title">Create a Category</h1>
        <p class="sub-title">Create a category to organize your posts</p>
    </div>
    <%= render "form"%>
  </article>
</section>
